@function toRem($pxValue) {
    $remValue: ($pxValue / 16) + rem; 
    @return $remValue;
}

// Breakpoints
$px-sm: 320;
$px-md: 672;
$px-lg: 1056;
$px-xlg: 1312;
$px-max: 1584;

$rem-sm: toRem(px-sm);
$rem-md: toRem(px-md);
$rem-lg: toRem(px-lg);
$rem-xlg: toRem(px-xlg);
$rem-max: toRem(px-max);


:export {
    px-sm: $px-sm;
    px-md: $px-md;
    px-lg: $px-lg;
    px-xlg: $px-xlg;
    px-max: $px-max;

    rem-sm: $rem-sm;
    rem-md: $rem-md;
    rem-lg: $rem-lg;
    rem-xlg: $rem-xlg;
    rem-max: $rem-max;
}