@function toRem($pxValue) {
    $remValue: ($pxValue / 16) + rem; 
    @return $remValue;
}

// Breakpoints
$px-sm: 320;
$px-md: 672;
$px-lg: 1056;
$px-xlg: 1312;
$px-max: 1584;

$rem-sm: toRem($px-sm);
$rem-md: toRem($px-md);
$rem-lg: toRem($px-lg);
$rem-xlg: toRem($px-xlg);
$rem-max: toRem($px-max);


:export {
    pxSm: $px-sm;
    pxMd: $px-md;
    pxLg: $px-lg;
    pxXlg: $px-xlg;
    pxMax: $px-max;

    remSm: $rem-sm;
    remMd: $rem-md;
    remLg: $rem-lg;
    remXlg: $rem-xlg;
    remMax: $rem-max;
}
